html{
  font-family: Courier New, Courier, monospace;
}

.title{
  text-align: center;
  margin-top: 5rem;
}

.link-l{
  list-style: none;
  margin: 3rem 0 0 0;
  padding: 0;
  text-align: center;
}

.link-i{
  margin-bottom: 2rem;
  font-size: 2rem;
}

.link-i a{
  text-decoration: none;
  color: #303F9F;
  border-bottom: 1px solid #fff;
}

.link-i a:hover{
  border-bottom: 1px solid #303F9F;
  transition: 120ms border;
}
